<configuration debug="true">

    <property name="DIR" value="../logs"/>
    <property name="logPattern" value="%d{HH:mm:ss.SSS} [%thread] %X{requestId} %X{user} %-5level %logger{50} - %msg%n"/>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    <appender name="rollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DIR}/movieland.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DIR}/movieland-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="rollingFileAppender"/>
    </root>
</configuration>